.col-lg-8.col-md-8.col-lg-offset-2.col-md-offset-2
  .row
    .panel.panel-default
      .panel-heading
        %h1 Edit Pin
      .panel-body
        %strong.center Current Image
        %br/
        = image_tag @pin.image.url(:medium)
        = render "form"
        %br/
        = link_to "Cancel", pin_path
